* {
    box-sizing: border-box;
    padding: none;
    border: none;
    padding: none;

    background-color: rgb(44, 44, 44);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.card {
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.1);
}