* {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    padding: none;
    border: none;
    padding: none;

    /* border: solid 1px grey; */
    color: white;
}

body {
    background-color: #ecf8f8;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: auto;
    display: grid;
    grid-template-columns: 200px 500px 400px;
    background-color: #000c24;
}

.mid-card {
    width: 100%;
}

.poke-image {
    width: 100%;
}

.poke-name {
    font-size: 3rem;
    font-weight: 800;
    border: solid 1px rgb(255, 255, 255);

}

.poke-bar-holder {
    width: 300px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.poke-bar {
    background-color: rgb(255, 145, 0);
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%);
    height: 100%;
}